.part1 {
    background-color: aquamarine;
    color: blue;
    padding: 10px;
    border: solid black;
}
.part2 {
    background-color: blue;
    color: aqua;
    border: solid black;
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
